<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<h1>Welcome in dashboard</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">List</th>
            <th scope="col">Create</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row" >1</th>
            <td>
                <a href="#" th:href="@{/homeworks}">homeworks list</a>
            </td>
            <td>
                <a href="#" th:href="@{/homeworks/create}">create homework</a>
            </td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>
                <a href="#" th:href="@{/students}">students list</a>
            </td>
            <td>
                <a href="#" th:href="@{/students/create}">create students</a>
            </td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>
            <a href="#" th:href="@{/classes}">classes list</a>
            </td>
            <td>
                <a href="#" th:href="@{/classes}">create class</a>
            </td>
        </tr>
        </tbody>
    </table>

<!--    <div>-->
<!--        <a href="#" th:href="@{/homeworks}">homeworks list</a>-->
<!--    </div>-->

<!--    <div>-->
<!--        <a href="#" th:href="@{/students}">students list</a>-->
<!--    </div>-->

<!--    <div>-->
<!--        <a href="#" th:href="@{/classes}">classes list</a>-->
<!--    </div>-->

</div>
</body>
</html>